body{
    font-family:"Montserrat" ;
    text-align: center;
}

p{
    color: #8f8f8f;
}
/* Heading */
.big-heading{
    font-family: "Montserrat-Bold";
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
/* Sections */
.colored-section{
    background-color: #ff4c68;
    color:#fff;
}
.white-section{
    background-color: #fff;
}

h1,h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
    font-weight: bolder;
    /* font-size: 4rem; */
  }


#title .container-fluid{
    padding:  3% 15% 12%;
    text-align: left;
   
}


/* navigation */
.navbar {
    padding: 0 0 4.5rem;
  }

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}  

.nav-item {
    padding: 0 18px;
  }
  
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

/* Download-Buttons   */
.download-button{
    margin: 5% 3% 5% 0%;
}



/* image */
.title-image{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
   
}

/* Features Section */
#features{
    padding:  7% 15%;
    
    z-index: 1;
    position: relative;
}


.feature-title {
    font-size: 2rem;
  } 


.feature-box{

    padding: 3%;
}  
  
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
    font-size: 5rem;
    
  } 
.icon:hover{
    color: brown;
}   

/* Testimonial  Section */
#testimonials{
   font-family: "Montserrat-Bold";

    background-color: #ef8172;
    color: #fff; 
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}
.testimonial-image{
    padding: 8%;
    width: 30%;
    border-radius: 100%;
}
.carousel-item{
    padding:7% 15%;
}

/* Press Section */
#press{

    padding-bottom: 5%;
    background-color: #ef8172;
}
.press-image{
    width: 20%;
    padding-left: 5%;
}

/* Pricing Section */
#pricing{
    padding: 7% 15%;

}
.price-text{
    font-size: 2rem;
    line-height: 1.5;
}

/* Call to Action  Section*/
#cta{
    padding: 7% 15%;
    background-color: #ff4c68;
}

.call-heading{
color: #fff;
font-size: 2.5rem;
}
/* Footer section */
#footer{
    padding: 7% 15%;

    
}

.copyright{
    font-size: 130%;
}


@media (max-width:990px){
#title{
    text-align: center;
}
.title-image{
    position: static;
    transform: rotate(0);
}

}
